@charset "UTF-8";
/* CSS Document */

/*TYPOGRAPHY*/
h1 {
	font-family: 'Cabin Condensed', sans serif;
	color: #1B4580;
}

h2 {
	font-family: 'Cabin Condensed', sans serif;
	color: #ffffff;
	text-align: center;
	letter-spacing: 1px;
	padding:10px 0px 10px 0px;
}

h3 {
	font-family: 'montserrat', sans-serif;
	font-size: 23px;
	color: #1B4580;
	text-transform: uppercase;
	margin-top: 20px;
}

h4{
	font-family: 'montserrat', sans-serif;
	font-size: 20px;
	color: #1B4580;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 20px;
}

p {
	font-family: 'montserrat', sans-serif;
	font-size: 16px;
	color: #585858;
}

a {
	color: #1B4580;
}

a:hover, a:active, a:focus {
	color: #1B4580;
	text-decoration: none;
}

.box p, .tech-content p {
	color: #585858;
}

.lead {
	font-size: 18px;
}
/*END TYPOGRAPHY*/

/*NAVIAGATION*/
.btn {
    padding: 5px 15px;
    border: 0 none;
	font-family: 'montserrat', sans-serif;
	margin-top:10px;
	text-transform: uppercase;
	margin-right: 15px;
}

.btn-primary {
    background: #ffffff;
    color: #1B4580;
    border: 3px solid #1B4580;
	border-radius:10px;
}

.btn-primary:hover {
    background: #1B4580;
	border: 3px solid #1B4580;
	color: #ffffff;
}

.btn-primary:active, .btn-primary:focus {
    background: #1B4580 !important;
	border: 3px solid #1B4580 !important;
    box-shadow: none;
}

.btn-intro {
	background: #ffffff;
	color: #1B4580;
    border: 3px solid #1B4580;
	border-radius: 10px;
	font-size: 17px;
	padding: 13px 27px;
}

.btn-intro:hover {
	background: #1B4580;
	color: #ffffff;
    border: 3px solid #1B4580;
	border-radius: 10px;
	font-size: 17px;
	padding: 13px 27px;
}

.btn-intro:active, .btn-intro:focus {
	background: #1B4580;
	color: #ffffff;
    border: 3px solid #1B4580;
	border-radius: 10px;
	font-size: 17px;
	padding: 13px 27px;
}

.learn-more {
	color:#1B4580;
	padding-left: 6px;
}

.learn-more:hover {
	color:#1B4580;
	text-decoration:underline;
}

.learn-more:active, .learn-more:focus {
	color:#1B4580;
	text-decoration:none;
}

.disabled{
	font-style: italic;
	color:#A4A4A4;
	border: 3px solid #D1D1D1;
	border-radius:10px;
}

/*END NAVIAGATION*/

/*LAYOUT*/
.page-header {
	border: 0 none;
	background-color: #1A447F;
	text-align: center;
	margin: 0 auto;
	padding: 75px 50px 25px;
}

.background-image {
	background-color: #1B4580;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

.intro {
	margin: 125px -50px -50px;
}

.box {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	background-color: #f5f6f7;
	padding: 75px 100px;
	border-radius: 5px;
}

.tech-content {
	margin-top: 100px;
}

.col-md-4 {
	padding-bottom:20px;
}

.sectionheader {
	background-color: #1a447f;
	border-radius: 8px;
}

.row {
	padding-bottom:22px;
	border-bottom:2px #EFEFEF solid;
}

.wordmark {
	max-width: 100%;
}
/*END LAYOUT*/